/* section video */



  .sectionVideo {
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
  background-color: black;
    &__video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
  }

  &__colorRectangle{
    height: 100vh;
    width:100px;
    background:-webkit-linear-gradient(90deg, rgba(232,157,182,0.35) 0%, rgba(232,157,182,0.35) 3%, rgba(235,158,154,0.75) 37%, rgba(239,159,122,0.75) 59%, rgba(244,160,74,0.35) 100%, rgba(0,212,255,0.35) 100%);;
    float: right;

  }

  &__title{
    font-family: 'Satoshi';
    font-size: 2.5rem;
    width : 500px;
    position : absolute;
     left : 100px;
    margin-top : 40vh;
    color: white;

  }
  &__chapo{
    position: absolute;
    left : 100px;
    margin-top :65vh;
    width:50%;
    color: white;

    &::after{
      content: '';
      border-bottom: solid white 3px;
      width:60px;
      padding:20px;
      left : 0;
      position:absolute;
  
    }

  }



  &__auteur{
    position: absolute;
    left : 100px;
    margin-top :80vh;
    width:50%;
    color: white;
  }
}


/* FIN section video */
