html {
    scroll-behavior: smooth;
}

body {
    font-family: "Epilogue", sans-serif;
    font-weight : $fw-regular;
    font-size : 1.18rem;
    
}

main.container-content {
    width: 1040px;
    margin: 0 auto;
}

main.full-width {
    width: 100%;
    margin: 0 auto;
}





